<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="msshcommands.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <msshcommands.Properties.Settings>
            <setting name="IPsHosts" serializeAs="String">
                <value />
            </setting>
            <setting name="SSHCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="PrivateKeyFile" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AutoClearLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Automation" serializeAs="String">
                <value>False</value>
            </setting>
        </msshcommands.Properties.Settings>
    </userSettings>
</configuration>